@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Configuration
@using MySqlConnector
@using Clases
@layout BlankLayout
@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject NavigationManager NavManager

@page "/ListaReservasIndividual"

<body onload="window.print()">
    <div class="row">
        <div class="col-sm-4 mb-3">

            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Maersk_Group_Logo.svg/1280px-Maersk_Group_Logo.svg.png" class="img-fluid" width="500" height="400">
            <br />
            <br />
        </div>
        <div class="col-sm-8 mb-3">
            <br />
            <br />
            <div class="d-flex p-3 bd-highlight bg-tertiary"></div>
        </div>
    </div>

    <h1>
        <div class="d-flex p-2 bd-highlight bg-secondary">Reporte individual de Reservas</div>
        <br />
    </h1>

    <div class="container">
        <div class="form-group">
            <label for="codigo" class="font-weight-bold">Codigo: </label>
            <label id="codigo">@reserva.Codigo</label>
        </div>
        <div class="form-group">
            <label for="empresa" class="font-weight-bold">Empresa: </label>
            <label id="empresa">@reserva.Empresa</label>
        </div>
        <div class="form-group">
            <label for="nit" class="font-weight-bold">Numero Id. Tributaria: </label>
            <label id="nit">@reserva.Nit</label>
        </div>
        <div class="form-group">
            <label for="direccion" class="font-weight-bold">Direccion: </label>
            <label id="direccion">@reserva.Direccion</label>
        </div>
        <div class="form-group">
            <label for="paisorigen" class="font-weight-bold">Pais Origen: </label>
            <label>@reserva.Pais_Origen</label>
        </div>
        <div class="form-group">
            <label for="puertoorigen" class="font-weight-bold">Puerto Origen: </label>
            <label>@reserva.Puerto_Origen</label>
        </div>
        <div class="form-group">
            <label for="horasalida" class="font-weight-bold">Fecha y hora de salida: </label>
            <label>@reserva.Hora_Salida</label>
        </div>
        <div class="form-group">
            <label for="paisdestino" class="font-weight-bold">Pais Destino: </label>
            <label>@reserva.Pais_Destino</label>
        </div>
        <div class="form-group">
            <label for="puertodestino" class="font-weight-bold">Puerto Destino: </label>
            <label>@reserva.Puerto_Destino</label>
        </div>
        <div class="form-group">
            <label for="horallegada" class="font-weight-bold">Fecha y hora de llegada: </label>
            <label id="horallegada">@reserva.Hora_Llegada</label>
        </div>
        <div class="form-group">
            <label for="receptor" class="font-weight-bold">Receptor de la Carga: </label>
            <label id="receptor">@reserva.Receptor</label>
        </div>
        <div class="form-group">
            <label for="contrasenia" class="font-weight-bold">Contraseña de Recepcion: </label>
            <label id="contrasenia">@reserva.Contraseña_Recepcion</label>
        </div>
        <div class="form-group">
            <label for="tipocarga" class="font-weight-bold">Tipo de Carga: </label>
            <label id="tipocarga">@reserva.Tipo_Carga</label>
        </div>
        <div class="form-group">
            <label for="descripcion" class="font-weight-bold">Descripcion de la carga: </label>
            <label id="descripcion">@reserva.Descripcion</label>
        </div>
        <div class="form-group">
            <label for="peso" class="font-weight-bold">Peso en Kg: </label>
            <label id="peso">@reserva.Peso</label>
        </div>
        <div class="form-group">
            <label for="valor" class="font-weight-bold">Valor de la carga: </label>
            <label id="valor">@reserva.Valor</label>
        </div>
        <div class="form-group">
            <label for="tipocontenedor" class="font-weight-bold">Tipo de Contenedor: </label>
            <label id="tipocontenedor">@reserva.Tipo_Contenedor</label>
        </div>
    </div>
</body>

@code
{
    int Id = 0;
    Reserva reserva = new Reserva();

    List<Pais> Paises_Origen = new List<Pais>(); //listado de los países existentes
    List<Pais> Paises_Destino = new List<Pais>();

    List<Puerto> Puertos_Origen = new List<Puerto>();
    List<Puerto> Puertos_Destino = new List<Puerto>();

    List<Tipo_carga> Tipo_Carga = new List<Tipo_carga>();

    List<Valor> Valores = new List<Valor>();

    List<Tipo_contenedor> Tipo_Contenedores = new List<Tipo_contenedor>();


    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("Id", out var param))
        {
            String parametro = param.First();
            if (parametro != null)
            {
                Int32.TryParse(parametro, out Id);
            }
        }

        String connString = config.GetConnectionString("MySqlNaviera");
        using var connection = new MySqlConnection(connString);
        {
            connection.Open();
            String q = "SELECT * FROM reserva_contenedor where id = '" + Id + "';";

            using var command = new MySqlCommand(q, connection);
            using var reader = command.ExecuteReader();
            while (reader.Read())
            {
                reserva.Id = (int)reader["id"];
                reserva.Codigo = reader["Codigo_contenedor"].ToString();
                reserva.Empresa = reader["Empresa"].ToString();
                reserva.Nit = reader["Nit"].ToString();
                reserva.Direccion = reader["Direccion"].ToString();
                reserva.Puerto_Origen = reader["Puerto_Origen"].ToString();
                reserva.Pais_Origen = reader["Pais_Origen"].ToString();
                reserva.Hora_Salida = reader["Hora_Salida"].ToString();
                reserva.Puerto_Destino = reader["Puerto_Destino"].ToString();
                reserva.Pais_Destino = reader["Pais_Destino"].ToString();
                reserva.Hora_Llegada = reader["Hora_Llegada"].ToString();
                reserva.Receptor = reader["Receptor"].ToString();
                reserva.Contraseña_Recepcion = reader["Contraseña_Recepcion"].ToString();
                reserva.Tipo_Carga = reader["Tipo_Carga"].ToString();
                reserva.Descripcion = reader["Descripcion_carga"].ToString();
                reserva.Peso = reader["Peso_carga"].ToString();
                reserva.Valor = reader["Valor_carga"].ToString();
                reserva.Tipo_Contenedor = reader["Tipo_Contenedor"].ToString();
            }
        }

        //para que aparezca el nombre del puerto y no el código
        using var connectionPO = new MySqlConnection(connString);
        {
            connectionPO.Open();

            string qPO = "SELECT * FROM puertos where codigo = '" + reserva.Puerto_Origen + "'";
            using var commandPO = new MySqlCommand(qPO, connectionPO);
            using var readerPO = commandPO.ExecuteReader(); //devuelve un objeto para poder hacer consultas, en este caso q
            if (readerPO.Read())
            {
                reserva.Nombre_Puerto_Origen = readerPO["nombre"].ToString();
            }
        }

        using var connectionPD = new MySqlConnection(connString);
        {
            connectionPD.Open();

            string qPD = "SELECT * FROM puertos where codigo = '" + reserva.Puerto_Destino + "'";
            using var commandPD = new MySqlCommand(qPD, connectionPD);
            using var readerPD = commandPD.ExecuteReader(); //devuelve un objeto para poder hacer consultas, en este caso q
            if (readerPD.Read())
            {
                reserva.Nombre_Puerto_Destino = readerPD["nombre"].ToString();
            }
        }
    }
}